<!--start wrapper-->
<div class="wrapper">

  <!--start content-->
  <main class="authentication-content">
    <div class="container-fluid">
      <div class="authentication-card">
        <div class="card shadow rounded-0 overflow-hidden">
          <div class="row g-0">
            <div class="col-lg-6 bg-login d-flex align-items-center justify-content-center">
              <img src="assets/images/error/login-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title">Sign Up</h5>
                <p class="card-text mb-5">See your growth and get consulting support!</p>
                <form class="form-body" (ngSubmit)="onSubmit()">
                  <div class="row g-3">
                    <div class="col-12">
                      <label for="inputName" class="form-label">Username</label>
                      <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-person-circle"></i></div>
                        <input type="text" class="form-control radius-30 ps-5" id="inputName" placeholder="Enter Username" [(ngModel)]="form.username" name="username" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="inputEmail" class="form-label">Email Address</label>
                      <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-envelope-fill"></i></div>
                        <input type="email" class="form-control radius-30 ps-5" id="inputEmail" placeholder="Enter Email Address" [(ngModel)]="form.email" name="email" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="inputPassword" class="form-label">Password</label>
                      <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                        <input type="password" class="form-control radius-30 ps-5" id="inputPassword" placeholder="Enter Password" [(ngModel)]="form.password" name="password" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="inputTel" class="form-label">Telephone</label>
                      <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-telephone-fill"></i></div>
                        <input type="tel" class="form-control radius-30 ps-5" id="inputTel" placeholder="Enter Telephone Number" [(ngModel)]="form.tel" name="tel">
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="inputImage" class="form-label">Image URL</label>
                      <div class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-image-fill"></i></div>
                        <input type="text" class="form-control radius-30 ps-5" id="inputImage" placeholder="Enter Image URL" [(ngModel)]="form.image" name="image">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                        <label class="form-check-label" for="flexSwitchCheckChecked">I Agree to the Terms & Conditions</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button type="submit" class="btn btn-primary radius-30">Sign Up</button>
                      </div>
                    </div>
                    <div class="col-12">
                      <p class="mb-0">Already have an account? <a routerLink="/login">Sign in here</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--end page main-->

</div>
<!--end wrapper-->
