<main class="page-content" >
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <h1 class="card-body text-center"> Ajouter offre</h1>
  </div>
  <div class="row">
    <div class="col-xl-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="border p-3 rounded">
            <h6 class="mb-0 text-uppercase" >Formulaire d'ajout</h6>
            <hr/>
              <form class="row g-3" *ngIf="!submitted" (ngSubmit)="saveOffre()" [formGroup]="offreForm" novalidate>
                <div class="col-12">
                  <label class="form-label">Intitulé</label>
                  <input id="intitule" name="intitule" type="text" class="form-control" formControlName="intitule">
                  <small><div *ngIf="offreForm.get('intitule')?.errors?.['required']" class="text-danger">Champ obligatoire.</div></small>
                  <small><div *ngIf="offreForm.get('intitule')?.errors?.['minlength']" class="text-danger">Minimum 5 caractères requis.</div></small>
                </div>
              <div class="col-12">
                <label class="form-label">Description</label>
                <input class="form-control" id="description" name="description" type="text" formControlName="description">
                <small><div *ngIf="offreForm.get('description')?.errors?.['required']" class="text-danger">Champ obligatoire.</div></small>
                <small><div *ngIf="offreForm.get('description')?.errors?.['minlength']" class="text-danger">Minimum 15 caractères requis.</div></small>
              </div>
              <div class="col-12">
                <label class="form-label">Nombre de places</label>
                <input type="number" id="nbPlaces" name="nbPlaces" class="form-control" formControlName="nbPlaces">
                <small><div *ngIf="offreForm.get('nbPlaces')?.errors?.['required']" class="text-danger">Champ obligatoire.</div></small>
              </div>
              <div class="card-body text-center">
                <button type="submit" class="btn btn-outline-success px-5 rounded-0">Ajouter</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
