<main class="page-content">
  <div class="card shadow">
    <div class="card-header">
      <h6 class="mb-0 text-uppercase">Informations sur cette Candidature</h6>
    </div>
    <div class="card-body">
      <ul>
        <div class="row">
        <div class="col">
        <p *ngIf="cand.competence"><i class="bi bi-list-check" style="margin-right: 10px"></i> Compétences : {{cand.competence}}</p><br>
        <p *ngIf="cand.formation"><i class="bi bi-clipboard" style="margin-right: 10px"></i>Formations : {{cand.formation}}</p><br>
        <p *ngIf="cand.langues"><i class="bi bi-translate" style="margin-right: 10px"></i>Langues : {{cand.langues}}</p><br>
        <p *ngIf="cand.experience"><i class="bi bi-bank" style="margin-right: 10px"></i>Expèriences : {{cand.experience}}</p><br>
        <p *ngIf="cand.status"><i class="bi bi-gear" style="margin-right: 10px"></i>Status : {{cand.status}}</p><br>
        <p *ngIf="cand.dateDeCandidature"><i class="bi bi-calendar" style="margin-right: 10px"></i>Date de Mise de Candidature : {{cand.dateDeCandidature | date:'yyyy-MM-dd HH:mm'}}</p><br>
        <p *ngIf="cand.dateDeMiseEnTrt"><i class="bi bi-calendar" style="margin-right: 10px"></i>Date de Mise en Traitement : {{cand.dateDeMiseEnTrt | date:'yyyy-MM-dd HH:mm'}}</p><br>
        <p *ngIf="cand.dateDAcceptance"><i class="bi bi-calendar-check" style="margin-right: 10px"></i>Date d'Acceptation : {{cand.dateDAcceptance | date:'yyyy-MM-dd HH:mm'}}</p><br>
        <p *ngIf="cand.datedeRefus"><i class="bi bi-calendar-x" style="margin-right: 10px"></i>Date de Refus : {{cand.datedeRefus | date:'yyyy-MM-dd HH:mm'}}</p><br>
        <p *ngIf="cand.remarque"><i class="bi bi-card-text" style="margin-right: 10px"></i>Remarque : {{cand.remarque}}</p><br>
          <button *ngIf="cand.status !== 'Acceptee' && cand.status !== 'Refusee'" (click)="goToSharedRoom()" class="btn btn-primary">Rejoindre la salle de réunion</button>
          <p *ngIf="cand.status === 'Acceptee'">Entretien réalisé avec succès.</p>
          <p *ngIf="cand.status === 'Refusee'">Entretien réalisé avec succès.</p>
        </div>
        <div class="col" >
        <img [src]="cand.lettreDeMotivation" width="400px" height="400px" style="margin: 10px" (load)="detecterTexte(cand.lettreDeMotivation)"><br>
          <button class="btn btn-outline-dark" (click)="showTextarea = !showTextarea" style="margin: 10px">Image to Text</button>
          <textarea *ngIf="showTextarea" class="form-control" rows="6" cols="4">
                  {{ extractedText }}
          </textarea>
          <div class="btn-group">
          <button class="btn btn-outline-dark" (click)="startSpeaking()"><i class="bi bi-mic-fill"></i></button>
          <button class="btn btn-outline-dark" (click)="stopSpeaking()"><i class="bi bi-stop-fill"></i></button>
          </div>
        </div>
        </div>
      </ul>
    </div>
  </div>
</main>
